@charset "utf-8";
body {
  background: #f6f6f6;
}
section {
  text-align: center;
}
section h2 {
  font-size: 0.9rem;
  font-weight: bold;
}
section p {
  font-size: 0.6rem;
}
.line {
  height: 0.075rem;
  background: #ECAA27;
}
.section2 {
  padding-bottom: 1.25rem;
  border-bottom: 0.05rem solid #CFCFCF;
}
.section2 h2 {
  padding-top: 1.5rem;
  margin-bottom: 0.5rem;
}
.section2 .line {
  width: 3rem;
  margin: 0.5rem auto;
}
.section2 .s2_box {
  text-align: left;
  margin: 1.5rem 0.56rem 0.5rem;
}
.section2 .s2_box .subbox {
  position: relative;
  margin-top: 2rem;
}
.section2 .s2_box .subbox .img {
  float: left;
  width: 25%;
}
.section2 .s2_box .subbox .text {
  width: 72%;
  float: left;
  font-size: 0.4rem;
  line-height: 1.5;
}
.section3 {
  padding: 1.5rem 0.5rem;
  border-bottom: 0.05rem solid #CFCFCF;
}
.section3 h3 {
  font-size: 0.6rem;
  font-weight: normal;
}
.section3 .s3_box {
  text-align: left;
  margin-top: 1.25rem;
}
.section3 .s3_box .hb_box {
  border: 0.05rem solid #ECAA27;
  border-radius: 5rem;
  padding: 0.5rem;
  margin-top: 0.7rem;
}
.section3 .s3_box .hb_box .num {
  float: left;
  color: #666;
  font-weight: bold;
  margin-right: 0.75rem;
}
.section3 .s3_box .hb_box .num p img {
  width: 2rem;
  height: 2rem;
}
.section3 .s3_box .hb_box .text {
  padding-top: 0.5rem;
  float: left;
}
.section3 .s3_box .hb_box .text h5 {
  font-size: 0.6rem;
}
.section3 .s3_box .hb_box .text p {
  font-size: 0.55rem;
}
.section4 {
  padding: 1.5rem 0.5rem;
  border-bottom: 0.05rem solid #CFCFCF;
}
.section4 h3 {
  font-size: 0.6rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.section4 > p {
  font-size: 0.6rem;
  margin-bottom: 0.25rem;
}
.section4 .s4_box {
  text-align: left;
  margin-top: 1.5rem;
}
.section4 .s4_box .hb_box {
  margin-top: 2rem;
}
.section4 .s4_box .hb_box .num {
  float: left;
  color: #666;
  font-weight: bold;
  margin-right: 0.7rem;
}
.section4 .s4_box .hb_box .num p img {
  width: 2.5rem;
  height: 2.5rem;
}
.section4 .s4_box .hb_box .text {
  float: left;
  width: 13.4rem;
}
.section4 .s4_box .hb_box .text h5 {
  font-size: 0.6rem;
}
.section4 .s4_box .hb_box .text p {
  font-size: 0.55rem;
}
.section5 {
  padding: 1.5rem 0.5rem;
  border-bottom: 0.05rem solid #CFCFCF;
}
.section5 .s5_box {
  text-align: left;
  margin-top: 1.5rem;
}
.section5 .s5_box .sy_box {
  margin-top: 2rem;
}
.section5 .s5_box .sy_box .img {
  float: left;
  color: #666;
  font-weight: bold;
  margin-right: 0.7rem;
}
.section5 .s5_box .sy_box .img img {
  width: 4.5rem;
  height: 3rem;
}
.section5 .s5_box .sy_box .text {
  float: left;
  width: 11.65rem;
}
.section5 .s5_box .sy_box .text h5 {
  font-size: 0.6rem;
}
.section5 .s5_box .sy_box .text p {
  font-size: 0.55rem;
}
.section5 .s5_box .sy_box2 {
  margin-top: 2rem;
}
.section5 .s5_box .sy_box2 .img {
  float: left;
  color: #666;
  font-weight: bold;
}
.section5 .s5_box .sy_box2 .img img {
  width: 4.5rem;
  height: 3rem;
}
.section5 .s5_box .sy_box2 .text {
  float: left;
  width: 11.65rem;
  margin-right: 0.7rem;
}
.section5 .s5_box .sy_box2 .text h5 {
  text-align: right;
  font-size: 0.6rem;
}
.section5 .s5_box .sy_box2 .text p {
  text-align: right;
  font-size: 0.55rem;
}
.section6 {
  padding: 1.5rem 0.5rem;
}
.section6 h2 {
  margin: 1rem 0;
}
.section6 img {
  width: 14.725rem;
  height: 12rem;
}
.section7 h2 {
  font-weight: normal;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}
.section7 p {
  font-size: 0.6rem;
}
.section7 ul {
  padding: 0;
}
.section7 ul li {
  display: inline-block;
  font-size: 0.7rem;
  padding: 0 0.5rem;
}
.section7 ul li.active {
  color: #ECAA27;
}
.section7 input {
  width: 13rem;
  height: 1.5rem;
  padding: 0 0.5rem;
  border: 0.05rem solid #b0b0b0;
  border-radius: 0.2rem;
  margin: 0.2rem 0;
  outline: none;
}
.section7 .city {
  width: 13rem;
  margin: 0 auto;
  text-align: left;
}
.section7 .city select {
  width: 4rem;
  height: 1.5rem;
  border-radius: 0.2rem;
  outline: none;
  margin: 0.2rem 0;
}
.section7 button {
  border: none;
  display: block;
  padding: 0.5rem 2rem;
  background: #ECAA27;
  text-align: center;
  color: #fff;
  font-size: 0.7rem;
  border-radius: 0.3rem;
  margin: 1rem auto;
}
.section7 .personal {
  display: none;
}
