@charset "utf-8";
body {
  background: #f6f6f6;
}
section {
  text-align: center;
}
section h2 {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
section p {
  font-size: 0.6rem;
}
.section2 {
  padding-bottom: 1.25rem;
  text-align: center;
}
.section2 .s2_box h2 {
  padding-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-weight: normal;
  font-size: 0.7rem
}
.section2 .s2_box {
  text-align: center;
  margin: 1.5rem 0.56rem 0;
}

.section2 .s2_box p{
	font-size: 0.55rem;
	text-align: left;
	line-height: 1.5;
	margin-bottom: 0.7rem;
	text-indent: 2em;
}
.section2 .s2_box p.date{
	margin-bottom: 1rem;
	font-size: 0.6rem;
	text-align: center;
}