@charset "utf-8";
body {
  background: #f6f6f6;
}
section {
  text-align: center;
}
section h2 {
  font-size: 0.9rem;
  font-weight: bold;
}
section p {
  font-size: 0.6rem;
}
.line {
  height: 0.075rem;
  background: #ECAA27;
}
.section2,
.section3 {
  padding-bottom: 1rem;
}
.section2 h2,
.section3 h2 {
  padding-top: 1.5rem;
  margin-bottom: 0.5rem;
}
.section2 .line,
.section3 .line {
  width: 3rem;
  margin: 0.5rem auto;
}
.section3 {
  border-bottom: 0.05rem solid #CFCFCF;
  padding-bottom: 2rem;
}
.section4 {
  border-bottom: 0.05rem solid #CFCFCF;
  padding: 1.5rem 0.5rem;
}
.section4 h2 {
  margin-bottom: 0.5rem;
}
.section4 .box {
  margin-top: 0.5rem;
  text-align: left;
}
.section4 .box p.title {
  font-size: 0.8rem;
  margin: 0.5rem 0;
}
.section4 .box li {
  font-size: 0.6rem;
  margin: 0.5rem 0;
}
.section5 {
  padding: 1.5rem 0.5rem;
  border-bottom: 0.05rem solid #CFCFCF;
}
.section5 h2 {
  margin-bottom: 1rem;
}
.section6 {
  padding: 1rem 0.5rem;
}
.section6 h2 {
  margin-bottom: 0.5rem;
}
.section6 .sub {
  margin-top: 1rem;
  text-align: left;
}
.section6 .sub .subbox {
  border-left: 0.1rem solid #ECAA27;
  padding-left: 0.5rem;
  margin-top: 0.7rem;
}
.section6 .sub .subbox p {
  margin-top: 0.3rem;
  font-size: 0.6rem;
}
.section6 .sub .subbox .title {
  font-size: 0.7rem;
}
.section6 .sub .subbox .title .example {
  font-size: 0.55rem;
}
