@charset "utf-8";
body {
  background: #f6f6f6;
}
section h2 {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
section p {
  font-size: 0.6rem;
}
.section2 {
  padding: 1rem 0.5rem;
}
.section2 > p {
  font-size: 0.8rem;
  color: #fff;
  width: 6.5rem;
  height: 1.5rem;
  background: #ECAA27;
  margin: 0 auto;
  text-align: center;
  line-height: 1.5rem;
}
.section2 .s2_box ul {
  padding-left: 0.5rem;
}
.section2 .s2_box ul li {
  margin: 0;
  font-size: 0.6rem;
  text-align: center;
}
.section2 .s2_box ul li.need {
  margin-bottom: 0.5rem;
}
.section2 .s2_box ul img {
  width: 12rem;
  height: auto;
}
.section2 .s2_box ul .img_v {
  width: 9.5rem;
  height: auto;
}
.section2 .s2_box p.need {
  margin-bottom: 0.5rem;
}
